asgiref==3.6.0
astroid==2.14.2
asttokens==2.2.1
attrs==25.1.0
av==14.2.0
Babel==2.10.3
beautifulsoup4==4.11.2
bidict==0.23.1
blinker==1.9.0
cbor2==5.6.5
certifi==2022.9.24
chardet==5.1.0
charset-normalizer<3,>=2.1.1
click==8.1.8
colorama==0.4.6
colorzero==2.0
cryptography==38.0.4
dbus-python==1.3.2
dill==0.3.6
distro==1.8.0
docutils==0.19
Flask==3.1.0
Flask-SocketIO==5.5.1
gpiozero==2.0.1
h11==0.14.0
html5lib==1.1
idna==3.3
importlib-metadata>=6.0,<7.0
isort==5.6.4
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.5
jsonpointer==2.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy-object-proxy==1.9.0
lgpio==0.2.2.0
libarchive-c==5.1
libevdev==0.5
logilab-common==1.9.8
luma.core==2.4.2
luma.oled==3.14.0
lxml==4.9.2
MarkupSafe==3.0.2
mccabe==0.7.0
meson==1.0.1
more-itertools==8.10.0
mpremote==1.24.1
mypy==1.0.1
mypy-extensions==0.4.3
numpy==2.2.3
oauthlib==3.2.2
olefile==0.46
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
parso==0.8.3
pexpect==4.8.0
picamera2==0.3.25
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
pillow==11.1.0
platformdirs==2.6.0
psutil==5.9.4
ptyprocess==0.7.0
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pyftdi==0.56.0
Pygments==2.14.0
pyinotify==0.9.6
PyJWT==2.6.0
pylint==2.16.2
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyrsistent==0.18.1
pyserial==3.5
pysmbc==1.0.23
python-dotenv==0.21.0
python-engineio==4.11.2
python-prctl==1.8.1
python-socketio==5.12.1
pytz==2022.7.1
pyudev==0.24.0
pyusb==1.3.1
pyzbar==0.1.9
referencing==0.36.2
reportlab==3.6.12
requests==2.28.1
requests-oauthlib==1.3.0
responses==0.18.0
rfc3987==1.3.8
roman==3.3
rpds-py==0.23.1
RPi.GPIO==0.7.1
Send2Trash==1.8.3
sense-hat==2.6.0
simple-websocket==1.1.0
simplejpeg==1.8.2
simplejson==3.18.3
six==1.16.0
smbus==1.1.post2
smbus2==0.5.0
soupsieve==2.3.2
spidev==3.6
ssh-import-id==5.10
thonny==4.1.4
toml==0.10.2
tomlkit==0.11.7
tqdm==4.67.1
twython==3.8.2
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.12
v4l2-python3==0.3.5
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==3.1.3
wiringpi==2.60.1
wrapt==1.14.1
wsproto==1.2.0
zipp==1.0.0